img {
    float: right;
    width: 800px;
    height: auto;
}

h1 {
    margin-left: 400px;
}

h3 {
    font-size: 36px;

}

li {
    margin-bottom: 5px;
}

.deschead {
    background-color: tan;
}

.ingrhead {
    background-color: aqua;
}

.stepshead {
    background-color: antiquewhite;
}